
.exhibit-tileView-body { list-style: none; }
.exhibit-collectionView-group-count { display: none; }


div.app-thumbnail {
   float:      left;
   width:      19.7em;
   height:     16em;
   border:     1px solid #BCB79E;
   background: #F2F2F2;
   padding:    1em;
   margin:     0.3em;
   overflow-y:auto;

}

hr { display: block; height: 1px;
 border: 0; border-top: 1px solid #5CB85C;
 margin: 1em 0; padding: 0; } 

 .petrosino {
  color: #5CB85C !important;
}

.highlight {
  padding: 9px 14px;
  margin-bottom: 14px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 4px;
}

ul.share-buttons{
  list-style: none;
  padding: 0;
}

ul.share-buttons li{
  display: inline;
}

.logo {
  padding: 0px 15px !important;
}